<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFEwBIRCJdylf3v4fJ33BJj9WmNQ-Sf24</string>
	<key>GCM_SENDER_ID</key>
	<string>480877915754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProj</string>
	<key>PROJECT_ID</key>
	<string>mbk-my-app-pre</string>
	<key>STORAGE_BUCKET</key>
	<string>mbk-my-app-pre.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480877915754:ios:ece44bbca75e6a120ee413</string>
</dict>
</plist>